@keyframes aparecer{
0% {
    opacity: 0%;
}
100% {
    opacity: 100%;
}
}

.anuncio{
    background: rgb(250,244,149);
    background: radial-gradient(circle, rgba(250,244,149,1) 8%, rgba(255,230,0,0.8887985614167542) 100%);
    p{
        padding: 20px;
        font-family: arial;
        text-align: center;
    }
    &:hover{
        animation-name: aparecer;
        animation-timing-function: ease-in;
        animation-duration: 1s;
    }
}  

