//Variables
$color-focus:  #bdecb6;

/*formulario*/
form{
    justify-content: center;
    label{
        font-size: large;
        padding-left: 20%;
        padding-right: 1%;
        padding-top: 10%;
    }
    select{
        margin: 10px 20px;
    }
    &:focus{
            background-color: $color-focus;
    }
    input{
            border: 0px;
            padding: 9px;
     &:focus{
                background-color: $color-focus;   
            }
    }
         
}              



        