//Variables 
$color-cursos: #e4eeef;

/*redes, mapa*/
h5{
    background-color: #5f9ea0;
}

/*cursos*/
h4{
    color: black;
    background-color: #5f9ea0;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
    font-size: 10px;
}
/*portada*/
h2{
    color: blanchedalmond;
    background-color: #96c8a2;
    text-align: center;
    position: absolute;
    top: 2em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3{
    text-align: center;
    color: #5f9ea0;
    font-size: 2em;
}